<%= simple_form_for(@contact_detail) do |f| %>
  <%= f.error_notification %>

  <div class="form-group">
    <%= f.input :name, input_html: { class: 'form-control'} %>
  </div>
  <div class="form-group">
    <%= f.input :tagline, input_html: { class: 'form-control'} %>
  </div>
  <div class="form-group">
    <%= f.input :about, input_html: { class: 'form-control'} %>
  </div>
  <div class="form-group">
    <%= f.input :address, input_html: { class: 'form-control'} %>
  </div>
  <div class="form-group">
    <%= f.input :phone, input_html: { class: 'form-control'} %>
  </div>
  <div class="form-group">
    <%= f.input :email, input_html: { class: 'form-control'} %>
  </div>
  <div class="form-group">
    <%= f.input :facebook, input_html: { class: 'form-control'} %>
  </div>
  <div class="form-group">
    <%= f.input :twitter, input_html: { class: 'form-control'} %>
  </div>
  <div class="form-group">
    <%= f.input :linkedin, input_html: { class: 'form-control'} %>
  </div>

  <div class="form-group">
    <%= f.button :submit %>
  </div>
<% end %>
